annotated-types==0.7.0
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
et-xmlfile==1.1.0
h11==0.14.0
idna==3.7
-e InteligenteEtl
multimethod==1.10
mypy-extensions==1.0.0
numpy==1.26.4
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
pandera==0.20.3
pydantic==2.8.2
pydantic_core==2.20.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
selenium==4.20.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
trio==0.25.0
trio-websocket==0.11.1
typeguard==4.3.0
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
